<div>

<div class="card" style="padding-bottom: 0;">

    <div class="card-header">
        <p>Top Ratings</p>
    </div>
    <div class="grid p-3">

      <div class="col-12 sm:col-4">
        <div class="mini-chart-container">
            <div class="mini-chart-header">
                <p>SNX Debt Mirror
                    <button class="mini-chart-button">
                        Open
                    </button>
                </p>
            </div>
            <div class="chart-user-container">
                <p class="chart-username"><img class="chart-user-img" src="../../../../../assets/mini-user.png"/>Chandravardan Raut</p>
            </div>
            <div id="divChart">
              <canvas id="MyChart" height="100%">{{ chart }}</canvas>
            </div>
            <div class="chart-bottom-conatiner">
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Value Managed</p>
                    <p class="chart-bottom-lbl2">$ 398K</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">3 Month Return</p>
                    <p class="chart-bottom-lbl2" style="color: #00C75B;">10.72%</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Risk Factor</p>
                    <p class="chart-bottom-lbl2" style="color: #D24E4E;">4/5</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Rewards</p>
                    <p class="chart-bottom-lbl2">20.29%</p>
                </div>
            </div>
        </div>
      </div>

      <div class="col-12 sm:col-4">
        <div class="mini-chart-container">
            <div class="mini-chart-header">
                <p>SNX Debt Mirror
                    <button class="mini-chart-button">
                        Open
                    </button>
                </p>
            </div>
            <div class="chart-user-container">
                <p class="chart-username"><img class="chart-user-img" src="../../../../../assets/mini-user.png"/>Chandravardan Raut</p>
            </div>
            <div id="divChart">
              <canvas id="MyChart2" height="100%">{{ chart2 }}</canvas>
            </div>
            <div class="chart-bottom-conatiner">
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Value Managed</p>
                    <p class="chart-bottom-lbl2">$ 398K</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">3 Month Return</p>
                    <p class="chart-bottom-lbl2" style="color: #00C75B;">10.72%</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Risk Factor</p>
                    <p class="chart-bottom-lbl2" style="color: #00C75B;">4/5</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Rewards</p>
                    <p class="chart-bottom-lbl2">20.29%</p>
                </div>
            </div>
        </div>
      </div>

      <div class="col-12 sm:col-4">
        <div class="mini-chart-container">
            <div class="mini-chart-header">
                <p>SNX Debt Mirror
                    <button class="mini-chart-button">
                        Open
                    </button>
                </p>
            </div>
            <div class="chart-user-container">
                <p class="chart-username"><img class="chart-user-img" src="../../../../../assets/mini-user.png"/>Chandravardan Raut</p>
            </div>
            <div id="divChart">
              <canvas id="MyChart3" height="100%">{{ chart3 }}</canvas>
            </div>
            <div class="chart-bottom-conatiner">
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Value Managed</p>
                    <p class="chart-bottom-lbl2">$ 398K</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">3 Month Return</p>
                    <p class="chart-bottom-lbl2" style="color: #00C75B;">10.72%</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Risk Factor</p>
                    <p class="chart-bottom-lbl2" style="color: #D24E4E">4/5</p>
                </div>
                <div class="chart-bottom-data-continer">
                    <p class="chart-bottom-lbl1">Rewards</p>
                    <p class="chart-bottom-lbl2">20.29%</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

    <!-- Top Rating End -->

    <!-- <div class="card">
        <div class="card-header">
            <p>Top Performers</p>
        </div>
        <app-common-table [cols]="cols" [data]="data"> </app-common-table>
    </div> -->

    <!-- Table top performance -->

    <div class="card Top-Performers-card">
        <div class="card-header">
            <p>Top Performers</p>
        </div>

            <p-table [value]="product">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="top-performer-table-head" pSortableColumn="Score"><span>Score</span>  <p-sortIcon field="Score" style="color: green;"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Assets"><span>Assets</span> <p-sortIcon field="Assets"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="ManagersName"><span>Managers Name</span><p-sortIcon field="ManagersName"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Product"><span>Product</span><p-sortIcon field="Product"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="1 D"><span>1 D </span><p-sortIcon field="1 D"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="1 W"><span>1 W</span> <p-sortIcon field="1 W"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="1 M"><span>1 M </span><p-sortIcon field="1 M"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="6 M"><span>6 M</span> <p-sortIcon field="6 M"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="1 Y" ><span>1 Y </span><p-sortIcon field="1 Y"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Total"><span>Total </span><p-sortIcon field="Total"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Managed"><span>Managed</span><p-sortIcon field="Managed"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Risk"><span>Risk </span><p-sortIcon field="Risk"></p-sortIcon></th>
                    <th class="top-performer-table-head" pSortableColumn="Fee"><span>Fee </span><p-sortIcon field="Fee"></p-sortIcon></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr class="top-performer-table-body">
                    <td>{{ product.Score}}</td>

                    <td>
                        <div class="flex align-items-center">
                            <img [src]=product.imageUrl1 class="mr-1">
                            {{ product.Assets }}
                        </div>
                    </td>

                    <td>
                        <div class="flex align-items-center">
                            <img [src]=product.imageUrl class="mr-1">
                        {{ product.ManagersName }}
                        </div>

                    </td>

                    <td>{{ product.Product }}</td>
                    <td [ngClass]="{'green-chart-text': product.isAscending==true, 'red-chart-text': product.isAscending==false}"><i *ngIf="product.isAscending==true" class="pi pi-arrow-up mr-1 icon-success-chart"></i>
                        <i *ngIf="product.isAscending==false" class="pi pi-arrow-down mr-1 icon-error-chart"></i>{{ product.oneD}}</td>
                    
                    <td>{{ product.oneW}}</td>

                    <td ><i class="pi pi-arrow-up mr-1"></i>{{ product.oneM}}</td>
                    <td><i class="pi pi-arrow-up mr-1"></i>{{ product.sixM}}</td>
                    <td><i class="pi pi-arrow-up mr-1"></i>{{ product.oneY}}</td>
                    <td><i class="pi pi-arrow-up mr-1"></i>{{ product.Total}}</td>
                    <td>{{ product.Managed}}</td>
                    <td>{{ product.Risk}}</td>
                    <td>{{ product.Fee}}</td>

                  </tr>
                </ng-template>
              </p-table>

    </div>
    <!-- Table top performance end -->

    <div class="card">
        <div class="card-header">
            <p>200+ Assets Supported</p>
        </div>
        <div>
            <p-carousel [value]="swiperData" [numVisible]="8" [numScroll]="1" [circular]="true" [showIndicators]="false">
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="product-item-content" style="display: flex; align-items: center; flex-direction: column;">
                            <div class="mb-3 p-3">
                                <img src="../../../../../assets/{{product.image}}" [alt]="product.name" class="product-image" />
                            </div>
                            <div>
                                {{product.name}}                            
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showpopup">
 
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModel()">&times;</span>
    <div class="grid">
        <div class="col-12 md:col-2 pr-2 justify-content-center align-item-center">
            <img src="../../../assets/succes.svg" width="130%"  style="max-width: 100px;"/>
        </div>
        <div class="col-12 md:col-10 justify-content-center align-item-center">
            <h3>Sign in Successful</h3>
            <p>You have successfully signed into your account.</p>
        </div>
      </div>
  </div>

</div>
