<div class="grid pt-3 pr-2 pl-2">
  <div class="col-12 head-bg p-3">
    <label class="card-head-api">Brokers API Management</label>
  </div>
  <div class="col-12 content-bg">
    <div class="grid grid-nogutter">
      <div class="col-12 flex align-items-center justify-content-between flex-wrap">
        <div class="col-12 md:col-4">
          <label class="form-label">Stock Exchange</label>
          <input pInputText>
        </div>
        <div class="col-12 md:col-4">
          <div>
            <label class="form-label">Secret key</label>
          </div>
          <div>
            <input pInputText>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div>
            <label class="form-label">Nickname</label>
          </div>
          <div>
            <input pInputText>
          </div>
        </div>
        <div class="col-12">
          <div>
            <label class="form-label">API key</label>
          </div>
          <div>
            <input pInputText>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end mt-2 mb-2">
      <p-button label="Save New Key"></p-button>
    </div>


    <div class="grid mt-4">
      <div class="col-12 md:col-6">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-4">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">API key <span class="m-2"><img src="../../../../../assets/exclamation.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-4">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">API key <span class="m-2"><img src="../../../../../assets/exclamation.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-4">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">API key <span class="m-2"><img src="../../../../../assets/exclamation.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-4">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-8">
              <label class="api-head-lbl">API key <span class="m-2"><img src="../../../../../assets/exclamation.svg"></span></label>
            </div>

            <div class="col-4">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-8">
              <label class="api-data-lbl">Secure key <span class="m-2"><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
